.formLoginContener {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.formLoginContener h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.formLoginContener form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formLoginContener input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.formLoginContener input[type="file"] {
    padding: 5px;
}



@media (max-width: 600px) {
    .formLoginContener form {
        padding: 20px;
    }

    .formLoginContener h2 {
        font-size: 1.5rem;
    }
}